/* Montserrat */
@font-face {
    font-family: "Montserrat";
    src: url("./Montserrat/static/Montserrat-Thin.ttf");
    font-weight: 100;
}
@font-face {
    font-family: "Montserrat";
    src: url("./Montserrat/static/Montserrat-ExtraLight.ttf");
    font-weight: 200;
}
@font-face {
    font-family: "Montserrat";
    src: url("./Montserrat/static/Montserrat-Light.ttf");
    font-weight: 300;
}
@font-face {
    font-family: "Montserrat";
    src: url("./Montserrat/static/Montserrat-Regular.ttf");
    font-weight: 400;
}
@font-face {
    font-family: "Montserrat";
    src: url("./Montserrat/static/Montserrat-Medium.ttf");
    font-weight: 500;
}
@font-face {
    font-family: "Montserrat";
    src: url("./Montserrat/static/Montserrat-SemiBold.ttf");
    font-weight: 600;
}
@font-face {
    font-family: "Montserrat";
    src: url("./Montserrat/static/Montserrat-Bold.ttf");
    font-weight: 700;
}
@font-face {
    font-family: "Montserrat";
    src: url("./Montserrat/static/Montserrat-ExtraBold.ttf");
    font-weight: 800;
}
@font-face {
    font-family: "Montserrat";
    src: url("./Montserrat/static/Montserrat-Black.ttf");
    font-weight: 900;
}

/* Italic versions */
@font-face {
    font-family: "Montserrat";
    src: url("./Montserrat/static/Montserrat-ThinItalic.ttf");
    font-weight: 100;
    font-style: italic;
}
@font-face {
    font-family: "Montserrat";
    src: url("./Montserrat/static/Montserrat-ExtraLightItalic.ttf");
    font-weight: 200;
    font-style: italic;
}
@font-face {
    font-family: "Montserrat";
    src: url("./Montserrat/static/Montserrat-LightItalic.ttf");
    font-weight: 300;
    font-style: italic;
}
@font-face {
    font-family: "Montserrat";
    src: url("./Montserrat/static/Montserrat-Italic.ttf");
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: "Montserrat";
    src: url("./Montserrat/static/Montserrat-MediumItalic.ttf");
    font-weight: 500;
    font-style: italic;
}
@font-face {
    font-family: "Montserrat";
    src: url("./Montserrat/static/Montserrat-SemiBoldItalic.ttf");
    font-weight: 600;
    font-style: italic;
}
@font-face {
    font-family: "Montserrat";
    src: url("./Montserrat/static/Montserrat-BoldItalic.ttf");
    font-weight: 700;
    font-style: italic;
}
@font-face {
    font-family: "Montserrat";
    src: url("./Montserrat/static/Montserrat-ExtraBoldItalic.ttf");
    font-weight: 800;
    font-style: italic;
}
@font-face {
    font-family: "Montserrat";
    src: url("./Montserrat/static/Montserrat-BlackItalic.ttf");
    font-weight: 900;
    font-style: italic;
}
