.header{
    padding-top: 40px;
    .hamburger_menu{
        display: none;
    }

    &_block{
        display: flex;
        justify-content: space-between;
        align-items: center;

    }
    &_menus{
        display: flex;
        align-items: center;
        gap: 24px;
        a{
            color: #0F161D;
            font-family: "Montserrat";
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            transition: all .3s ease;
            &:hover{
                opacity: .7;
            }
        }
    }
    &_logo{
        img{
            width: 260px;
        }
    }
    &_contact{
        display: flex;
        align-items: center;
        gap: 24px;
        &.menu_item{
            display: none;
        }
        a{
            color: #0F161D;
            font-family: "Montserrat";
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            transition: all .3s ease;
            &:hover{
                opacity: .7;
            }
        }
    }
    &_icons{
        display: flex;
        align-items: center;
        gap: 8px;
    }
}
