.header {
    z-index: 1000;
    transition: box-shadow .3s ease;
    position: fixed;
    inset: 0 0 auto 0;
    z-index: 1000;
    transition: all .3s ease;

    &.is-sticky {
        background-color: #EAFAFF;

        box-shadow: 0 10px 30px -10px rgba(0, 0, 0, .15);

    }


    padding: 20px 0;

    .hamburger_menu {
        display: none;
    }

    &_block {
        display: flex;
        justify-content: space-between;
        align-items: center;
        transition: all .5s ease;
    }

    &_menus {
        display: flex;
        align-items: center;
        gap: 24px;
        transition: all .5s ease;

        a, span {
            color: #0F161D;
            font-family: "Montserrat";
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            transition: all .3s ease;
            cursor: pointer;

            &:hover {
                opacity: .7;
            }
        }
    }

    &_logo {
        img {
            width: 260px;
        }
    }

    &_contact {
        display: flex;
        align-items: center;
        gap: 24px;

        &.menu_item {
            display: none;
        }

        a {
            color: #0F161D;
            font-family: "Montserrat";
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            transition: all .3s ease;

            &:hover {
                opacity: .7;
            }
        }
    }

    &_icons {
        display: flex;
        align-items: center;
        gap: 8px;
    }
}