.hero{
    position: relative;
    height: calc(100% + 122px);
    background: linear-gradient(180deg, #EAFAFF 0%, rgba(231, 230, 237, 0.00) 100%);
    &_block{
        position: relative;
        padding: 170px 0 160px;
        display: flex;
        flex-direction: column;
        align-items: center;
        .header_logo{
            margin-bottom: 16px;
            img{
                width: 500px;
            }
        }
        h3{
            width: 60%;
            margin: 0 auto;
        }
    }
    &_bg{
        width: 100%;
        position: absolute;
        top: 122px;
        z-index: -1;
        left: 0;
        overflow: hidden;
        &::after{
            content: "";
            position: absolute;
            width: 100%;
            height: 4px;
            background-color: #F0F0F3;
            bottom: 0;
            left: 0;
            z-index: 1;
          }
        video{
            width: 100%;
            height: 100%;
            object-fit: cover; /* fon kabi qilsin */
            object-position: center;
            display: block;
            outline: none;
            background: none; 
            clip-path: inset(0px);
            backface-visibility: hidden;
            &::-webkit-media-controls {
                display: none !important;
            }
        }
    }
}