.mission{
    .badge{
        background-color: #fff;
    }
    &_main{
        display: grid;
        grid-template-columns: 50% 50%;
        gap: 16px;
    }
    &_right{
        display: flex;
        flex-direction: column;
        gap: 24px;
    }
    &_text{
        display: flex;
        flex-direction: column;
        gap: 16px;
    }
}